@charset "utf-8";
/*-----------------------------------

Reset Browser Defult Style

-----------------------------------*/
    * { margin: 0; padding: 0; border: 0; text-decoration: none; }
    body { line-height: 24px; font: 13px/1.5 Arial,Helvetica,Verdana,sans-serif; background-color: #f6f6f6; }
    html { -webkit-text-size-adjust: none; }
    address, caption, cite, code, dfn, em, th, var { font-style: normal; font-weight: normal; }
    ol, ul, li { list-style: none; }
    h1, h2, h3, h4, h5, h6 { font-size: 1em; font-weight: normal; }
    img { vertical-align: middle; }
    input:focus { outline: 0 }
    cite, em, i { font-style: normal }
/*-----------------------------------
Fix elements
------------------------------------*/
.midFrame { height: 100% !important; }
.top { display: none !important; }
/*.container {background-color: rgba(255, 255, 255, 0) !important;}*/
.user_login_btn { background: url('https://rawgit.com/OopsLOL/gogo/master/icon_old2.png') -14px -647px no-repeat !important; }
.new_user_btn { background: url('https://rawgit.com/OopsLOL/gogo/master/icon_old2.png') -14px -767px no-repeat !important; }
/*-----------------------------------

Float Defult Style

-----------------------------------*/
    .fl { float: left; }
    .fr { float: right; }
/*-----------------------------------

Clear Float

-----------------------------------*/
    .cl { zoom: 1; }
    .cl:after { content: "."; display: block; clear: both; visibility: hidden; height: 0; }
/*----------------------------------

Display Font

----------------------------------*/
    .hf { display: block; overflow: hidden; background-repeat: no-repeat; text-indent: -999em; direction: ltr }
/*----------------------------------

Main body div style 

-----------------------------------*/
    .wp { width: 1000px; margin: 0 auto; position: relative; }
/*--------------------------------

Icons Background

--------------------------------*/
    .header-nav .top-bar-li i, .nav-btn i, .quick-login a, .dialog .sign_other a, .title .fire, .title .mouse, .title .horn, .title .mobile, .title .board, footer .container .down a, .ios_down, .and_down, .pay-inner dl dd .step { background: url(../images/background.png) no-repeat; }
/*--------------------------------

Botton

--------------------------------*/
    .btn { cursor: pointer; display: block; padding: 4px 12px; position: relative; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; font-size: 10px; font-weight: bold; text-align: center; border-style: solid; border-width: 1px; border-color: #a7a7a7; background-color: transparent; }
    .btn-normal { cursor: pointer; display: block; position: relative; font-size: 18px; font-weight: bold; text-align: center; color: #ffffff; text-transform: uppercase; font-weight: normal; }
    .btn:hover {}
    .btn-orange { background: #fe9500; color: #ffffff; }
    .btn-orange:hover { background: #939393 !important; }
/*--------------------------------

Public Margin 

--------------------------------*/
    .mr10 { margin-right: 10px; }
/*--------------------------------

Div Transition

--------------------------------*/
    .header-nav .top-bar-li, .right a { -ms-transform: all 0.2s ease-in; -moz-transition: all 0.2s ease-in; -webkit-transition: all 0.2s ease-in; -o-transition: all 0.2s ease-in; transition: all 0.2s ease-in; }
/*------------------------------

Line Default

------------------------------*/
    .line-wrap { position: relative; margin-bottom: 10px; width: 100%; overflow: hidden; }
    .line-wrap:before, .agree-wrap:before { content: ""; display: table; }
    .agree-wrap { width: 100%; text-align: left; margin-bottom: 5px; overflow: hidden; }
/*------------------------------

Border-box

------------------------------*/
    .log-over-wrap .inner .line-wrap input, .log-over-wrap .inner, .dialog .column, .simplemodal-container, .simplemodal-wrap, .text, .mobile-games ul li, .content .left, .content .right, .right input[type=password], .right input[type=text], .right textarea, .submitWrap .mid .btn-normal { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
/*------------------------------

Overlay

------------------------------*/
    .simplemodal-overlay { position: fixed; top: 0; left: 0; z-index: 99; display: none; width: 100%; height: 100%; background-color: #000; opacity: 0.3; }
    .simplemodal-container { position: fixed; top: 50%; left: 50%; z-index: 100; display: none; width: 614px; margin-top: -249px; margin-left: -307px; background: #ffffff; padding: 10px; }
    .simplemodal-close { position: absolute; top: 10px; right: 15px; z-index: 3; cursor: pointer; font-size: 18px; color: #f99723; }
    .simplemodal-close:hover { color: #5f5f5f; }
    .simplemodal-wrap { overflow: hidden; width: 100%; height: 100%; }
    .dialog header { height: auto; color: #f99723; background: #ffffff; }
    .dialog header h1 { text-align: center; font-size: 30px; color: #ff6000; text-transform: uppercase; }
    .dialog-content { position: relative; background: #ffffff; margin: 30px 0; }
    .dialog .vert-separator { width: 2px; position: absolute; top: 0; bottom: 0; left: 45%; margin-left: -1px; background: #e6e6e6; }
    .dialog .vert-separator .or { position: absolute; top: 40%; left: 45%; height: 32px; width: 26px; margin-left: -13px; margin-top: -16px; background: #ffffff; font-size: 18px; line-height: 32px; font-weight: bold; color: #e6e6e6; }
    .dialog .column { float: left; }
    .dialog .left-column { width: 45%; padding: 0 10px; }
    .dialog .right-column { width: 55%; padding: 0 30px; }
    .dialog h2 { font-size: 18px; line-height: 20px; color: #4b4b4b; margin-bottom: 7px; text-align: center; }
    .dialog .sign_other a { float: left; display: block; width: 206px; height: 36px; margin: 0 20px 13px; opacity: 0.7; }
    .dialog .sign_other a:hover { opacity: 1; }
    .dialog .sign_other a.l-fb { background-position: -43px -21px; }
    .dialog .sign_other a.l-tt { background-position: -43px -57px; }
    .dialog .sign_other a.l-yh { background-position: -43px -93px; }
    .dialog .sign_other a.l-gg { background-position: -43px -129px; }
    .right-column h2.logo { display: block; width: 161px; height: 20px; background: url(../images/h-logo.png) no-repeat; margin: 0 auto 7px; }
    .dialog .right-column .verify { width: 106px !important; }
    .dialog .inner .line-wrap input[type="checkbox"] { width: auto; height: auto; margin-top: 3px; }
/*------------------------------

Header Float Background

------------------------------*/
    header .wp .gameList, header .wp .log-over-wrap { display: none; position: absolute; z-index: 3; }
    header .wp .gameList { background-color: #f99723; }
/*--------------------------------

Header

--------------------------------*/
    header { display: none !important; }
    /*header { background: #f6f6f6; height: 70px; position: relative; z-index: 2; }
    header .wp:before { display: table; content: ''; }
    header .wp a.logo { height: 100%; line-height: 70px; margin: 0 22px 0 0; }*/
    .header-nav { margin-left: 30px; height: 70px; position: relative; }
    .header-nav .top-bar-li { position: relative; float: left; font-size: 16px; }
    .header-nav .top-bar-li i { display: block; width: 9px; height: 5px; background-position: -16px -9px; position: absolute; z-index: 2; top: 50%; right: 5px; margin-top: -3px; transform: rotate(-90deg); -ms-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); -o-transform: rotate(-90deg); }
    .header-nav .top-bar-li i.on { transform: rotate(0deg); -ms-transform: rotate(0deg); -moz-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); }
    .header-nav .top-bar-li a { display: block; line-height: 50px; color: #5f5f5f; margin: 10px 0; padding: 0 15px; }
    .header-nav .top-bar-bg { display: block; position: absolute; top: 0; left: 0; height: 3px; background: #f99723; z-index: 1; }
    .nav-login { padding: 12px 13px 0; position: relative; }
    .nav-login .logged_in { color: #5f5f5f; font-size: 12px; }
    .logged_in .welcome { margin: 3px 0; min-width: 100px; }
    .welcome a { font-size: 14px; line-height: 14px; color: #ff6000; }
    .logged_in ul { text-transform: uppercase; font-size: 12px; }    
    .logged_in li { padding-right: 5px; font-size: 12px; position: relative; }
    .logged_in li:nth-child(3) a { padding-bottom: 16px; }
    .menu li { display: inline-block; vertical-align: top; }
    .menu li > a { display: block; height: 100%; color: #5f5f5f; }
    .mg { display: none; background: #f99723; position: absolute; top: 34px; left: -60px; z-index: 3; line-height: 25px; width: 180px; }
    .mg li { display: block; position: relative; width: 160px; padding-left: 9px; }
    .mg li a { color: #ffffff!important; padding-bottom: 0!important; }
    .mg li a:hover { color: #5f5f5f!important; }
    .nav-box { padding: 19px 13px; position: relative; }
    .nav-btn { color: #5f5f5f; float: left; line-height: 18px; position: relative; }
    .nav-btn i { display: block; float: left; width: 16px; height: 18px; background-position: 0 0; margin: 0 3px; }
    header .wp .gameList { width: 180px; top: 70px; left: -50%; }
    .slideDownTriangle { display: block; position: absolute; width: 0; height: 0; border-left: 8px solid transparent; border-bottom: 8px solid #f99723; border-right: 8px solid transparent; top: -8px; left: 50%; margin-left: -4px; }
    .gameList .inner ul { padding-left: 10px; padding-right: 10px; text-align: left; }
    .gameList .inner ul li { border-bottom: 1px dashed #ffffff; position: relative; }
    .gameList .inner ul li a { margin: 0; padding: 0; height: 56px; width: 155px; line-height: 56px; text-decoration: none; display: inline-block; }
    .gamesBox .inner ul li a img { vertical-align: middle; margin-right: 8px; width: 36px; height: 36px; }
    .gameList .inner ul li a span.txt { overflow: hidden; text-transform: uppercase; color: #ffffff; font-size: 12px; -moz-transition: color 0.3s ease; -o-transition: color 0.3s ease; -webkit-transition: color 0.3s ease; transition: color 0.3s ease; }
    .gameList .inner ul li a:hover span.txt { color: #000000; }
    .gameList .inner ul li.last { border: 0; }
    header .wp .log-over-wrap { width: 312px; background: #ffffff; top: 50px; right: 0; }
    .log-over-wrap .padding { position: absolute; width: 100%; height: 0; padding-top: 23px; top: -23px; }
    .log-over-wrap .slideDownTriangle { border-bottom: 8px solid #ffffff; }
    .log-over-wrap .slideDownTriangle { left: auto; right: 28px; top: auto; bottom: 0; }
    .log-over-wrap .inner { padding: 10px 18px 12px 20px; width: 100%; }
    .inner .line-wrap input { background: #e6e6e6; padding: 0 15px; width: 100%; height: 35px; color: #000000; }
    .log-over-wrap .inner .uname { width: 100%; }
    .forgotPassword { color: #ff6000; cursor: pointer; text-decoration: underline; float: right; }
    .log-over-wrap .line-wrap input[type="checkbox"] { width: auto; height: auto; margin-top: 3px; margin-right: 3px; }
    .rememberWrap { text-align: left; margin-top: 14px; }
    .line-wrap .btn { border: 0; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; font-size: 24px; line-height: 35px; padding: 0; }
    .log-over-wrap .line-wrap.dashed { padding-bottom: 10px; border-bottom: 1px dashed #e6e6e6; }
    .quick-login { margin-left: 0; margin-top: 2px; }
    .quick-login a { display: block; float: left; width: 41px; height: 40px; margin-right: 8px; opacity: 0.7 }
    .quick-login a:hover { opacity: 1; }
    .quick-login .f-icon { background-position: 0 -18px; }
    .quick-login .t-icon { background-position: 0 -57px; }
    .quick-login .y-icon { background-position: 0 -97px; }
    .quick-login .g-icon { background-position: 0 -137px; }
    .image { width: 124px; height: 35px; line-height: 37px; text-align: center; margin-right: 1px; background-color: #e6e6e6; }
    .image img { vertical-align: middle; width: 100%; height: 100%; }
    .verify { width: 142px !important; padding-left: 15px; margin-right: 5px; }
    .right { width: 93%; word-wrap: break-word; margin-left: 1px; color: #4b4b4b; font-size: 10px; font-weight: normal; }
    .right a { color: #fe9500; }
    .right a:hover { color: #ff6000; }
    .right.fr { text-align: right; }
    #login .right { transform: scale(0.9); width: 101%; }
    .line-wrap .txt { float: left; text-align: left; width: 100%; }
    .rememberText { margin-left: 3px; }
    .regTips { color: #f30; font-weight: 700; font-size: 14px; line-height: 30px; }
/*------------------------------

Main 

-------------------------------*/
    .container { position: relative; top: 0; right: 0; bottom: 0; left: 0; overflow: hidden; padding-bottom: 10px; background-color: #ffffff; }
    .slide { margin: 0; width: 100%; height: 580px; background-color: #000; position: relative; }

    .hot-games, .browser-games, .news-wrap, .mobile-games, .hot-event { position: relative; z-index: 1; width: 100%; padding-top: 25px; padding-bottom: 26px; }
    .hot-games .title, .browser-games .title, .news-wrap .title, .mobile-games .title, .hot-event .title { color: #292929; font-size: 24px; position: relative; height: 40px; line-height: 40px; margin-bottom: 20px; text-transform: uppercase; }
    .title .fire, .title .mouse, .title .horn, .title .mobile, .title .board { display: inline-block; vertical-align: middle; height: 40px; margin-right: 20px; }
    .title .more { float: right; color: #292929; font-size: 12px; line-height: 24px; }
    .title .more:hover { color: #5f5f5f; }

    .hot-games { background: #f6f6f6; top: -10px; }
    .title .fire { width: 30px; background-position: 0 -177px; }
    .hot-games .wp ul li { width: 244px; border-bottom: 2px solid #e6e6e6; position: relative; margin-right: 6px; float: left; }
    .hot-games .wp ul li:hover .hoverwrap{ display: block; }
    .img { float: left; }
    .hot-games .wp ul li .img { vertical-align: middle; width: 244px; height: 300px; overflow: hidden; }
    .text { float: left; width: 100%; text-align: left; }
    .text { font-size: 18px; color: #7f7f7f; background: #ffffff; height: auto; padding: 12px 17px; overflow: hidden; word-wrap: break-word; }
    .text h3 { font-size: 18px; color: #292929; font-weight: bold; text-transform: uppercase; }
    .article-wrap { position: relative; z-index: 1; padding-bottom: 10px; background: #ffffff; }
    .article-wrap .left { width: 582px; margin-right: 91px; }
    .title .mouse { width: 29px; background-position: -30px -177px; }
    .browser-games { background: #ffffff; }

    .browser-games ul li, .mobile-games ul li { float: left; height: 220px; }
    .browser-games ul li { width: 188px; margin-right: 9px; }
    .browser-games ul li:last-child { margin-right: 0; }
    .browser-games ul li .text, .mobile-games ul li .text { padding: 9px 0 0; font-size: 12px; }
    .title .horn { width: 40px; background-position: -82px -177px; }
    .news-wrap dl { overflow: hidden; }
    .news-wrap dd { float: left; padding: 10px 0 20px; border-bottom: 1px dashed #292929; }
    .news-wrap dd:last-child { border: 0; }
    .news-wrap .leftLeft { width: 118px; margin-right: 30px; margin-top: 6px; float: left; }
    .news-wrap .leftLeft img { width: 100%; }
    .leftRight { width: 434px; float: left; }
    .leftRight h5 { color: #ff6101; font-size: 18px; word-wrap: break-word; }
    .leftRight h5 .date { line-height: 19px; float: right; font-size: 12px; color: #292929; margin-top: 6px; }
    .leftRight .newCon { display: block; margin-top: 7px; line-height: 19px; color: #292929; height: 40px; overflow: hidden; word-wrap: break-word; text-overflow: ellipsis; }
    .leftRight a { color: #ff6000; }
    .leftRight a:hover { opacity: 0.7; }
    .article-wrap .right { width: 326px; }
    .title .mobile { width: 23px; background-position: -59px -177px; }
    .mobile-games ul li { width: 149px; margin-right: 10px; }
    .title .board { width: 40px; background-position: -122px -177px; }
    .hot-event ul li { float: left; margin-bottom: 22px; }
    .browser-games ul li a, .mobile-games ul li a { position: relative; z-index: 1; display: block; }
    .browser-games ul li a:hover .hoverwrap, .mobile-games ul li a:hover .hoverwrap { display: block; }
    .mobile-games ul li a:hover .hoverwrap { -o-border-radius: 25%; -ms-border-radius: 25%; -moz-border-radius: 25%; -webkit-border-radius: 25%; border-radius: 25%; }
    .hoverwrap { width: 100%; height: 100%; position: absolute; z-index: 2; background: rgba(0, 0, 0, 0.7); display: none; }
    .hoverwrap > div { position: relative; padding: 0 9px; top: 50%; width: auto; height: 78px; margin-top: -39px; }
    .hoverwrap > div .btn-normal { line-height: 37px; margin-bottom: 4px; float: left; width: 100%; }
    .hoverwrap > div .btn-normal:last-child { margin: 0; }
    .ios_down, .and_down { width: 131px; height: 37px; display: block; float: left; opacity: 0.7; }
    .ios_down:hover, .and_down:hover { opacity: 1; }
    .ios_down { margin-bottom: 4px; background-position: 0 -217px; }
    .and_down { background-position: -131px -217px; }

    .container .main-left, .container .main-right { float: left; }
    .container .main-left { margin-right: 10px; }
    .container .top { margin-bottom: 50px; }

    .article-wrap .menu { width: 100%; height: 60px; background: #4e4e4e; }
    .article-wrap .menu > li { display: block; height: 60px; float: left; background: #4e4e4e; line-height: 60px; font-size: 18px; color: #ffffff; text-align: center; cursor: pointer; padding: 0 5px; min-width: 130px; }
    .article-wrap .menu > li:hover, .article-wrap .menu > li.on { background: #fe9500; }

    .content { position: relative; padding-top: 20px; min-height: 580px; }
    .ctt { position: relative; padding-top: 20px; }
    .content .left { position: relative; float: left; width: 250px; min-height: 600px; background: #f6f6f6; padding-bottom: 20px; margin-right: 11px; }
    .content .left dl { margin-top: 20px; }
    .content .left dl dd, .content .left dl dt { padding-left: 15px; position: relative; }
    .content .left dl dd:before, .content .left dl dt:before { position: absolute; right: 0; left: 0; height: 43px; content: ""; }
    .content .left dl dd a, .content .left dl dt { position: relative; z-index: 2; display: block; padding-left: 10px; color: #5d5c5c; text-align: left; text-decoration: none; font-size: 13px; line-height: 43px; }
    .content .left dl dt { font-size: 20px; margin-left: 20px; }
    .content .left dl dd.active, .content .left dl dd:hover { background: #f99723; }
    .content .left dl dd.active a, .content .left dl dd:hover a { color: #ffffff; }
    .content .left dl dd a { margin-left: 20px; }
    .content .left dd > i { position: absolute; right: -5px; top: 50%; margin-top: -4px; width: 0; height: 0; border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-left: 5px solid #f99723; border-right: 0; display: none; }
    .content .left dd.active > i { display: block; }

    .content .right { position: relative; float: left; width: 738px; background: #f6f6f6; }
    .content .right .inner { min-height: 580px; padding: 20px; }
    .inner-title { width: 100%; text-align: center; color: #000000; font-size: 20px; margin: 14px 0; }
    .content .right dl dd { margin-bottom: 15px; }
    .content .right dl dd .small_title { margin-bottom: 5px; }
    .content .right dl dd .select { position: relative; top: 0; left: 0; display: inline-block; width: 100%; }
    .content .right dl dd .sel { position: relative; float: right; }
    .content .right dl dd .sel.game { margin-right: 6px; }
    .right input[type=password], .right input[type=text], .right textarea { float: left; display: block; padding: 7px; width: 100%; border: 1px solid #666; border-radius: 4px; background-color: #ffffff; box-shadow: 0 0 2px #666; color: #666; line-height: 13px; }
    .gender label { margin-left: 20px; cursor: pointer; }
    .gender span { position: relative; top: -2px; margin-left: 3px; }
    .submitWrap { margin: 30px 0; width: 100%; text-align: center; }
    .submitWrap .middle { margin: 0 auto; }
    .submitWrap .mid { width: 183px; margin: 0 auto; }
    .submitWrap .mid .btn-normal { height: 60px; line-height: 60px; color: #ffffff; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; border-bottom: 3px solid #ff6000; }
    .submitWrap .mid .btn-normal:hover { border-bottom: 3px solid #696969; }
    .vemail, .vsques { display: inline-block; margin: 15px 62px 0; width: 214px; height: 161px; background: url(../images/other_icon.png) no-repeat; cursor: pointer; -ms-transform: inherit!important; -moz-transition: inherit!important; -webkit-transition: inherit!important; -o-transition: inherit!important; transition: inherit!important; }
    .vemail { background-position: 0 -57px; }
    .vemail:hover { background-position: 0 -218px; }
    .vsques { background-position: -214px -57px!important; }
    .vsques:hover { background-position: -214px -218px!important; }
    .verification { margin-right: 10px; width: 135px!important; }
    .support_center { padding: 0 0 15px 76px; border-radius: 8px; }
    .support_center .dd2 {padding-left: 135px}
    .dd2 dd { float: left; margin-right: 20px; margin-bottom: 0; width: 200px; background: 0; }
    .dd2 dd a { display: block; margin: 0 auto; width: 182px; height: 182px; text-align: center; background: url(../images/icon.png) no-repeat; }
    .dd2 dd .text, .dd3 dd .text { display: block; margin-top: 28px; color: #5d5c5c; font-size: 14px; text-align: center; }
    .ret_pass { background-position: -6px 0!important; }
    .ret_pass:hover { background-position: -210px 0!important; }
    .rep_case { background-position: 5px -209px!important; }
    .rep_case:hover { background-position: -210px -209px!important; }
    .faqs { background-position: 7px -421px!important; }
    .faqs:hover { background-position: -210px -421px!important; }
    .g_fb { background-position: 5px -616px!important; }
    .g_fb:hover { background-position: -210px -616px!important; }
    .support_center li { float: left; margin-right: 20px; margin-bottom: 25px; width: 440px; height: 270px; }
    .support_center .title_small { margin-bottom: 15px; color: #515050; font-size: 24px; line-height: 32px; text-align: center; }
    .support_center .dd3 { margin-left: 12px; }
    .dd3 dd { float: left; margin-right: 10px; margin-bottom: 0; width: 132px; background: 0 0; }
    .dd3 dd a { display: block; width: 130px; height: 124px; border-radius: 10px; background: url(../images/icon.png) no-repeat; }
    .dd3 dd a:hover { box-shadow: 0 0 10px #000,0 0 10px #000,0 0 10px #000,0 0 10px #000; }
    .chrome { background-position: 1px -834px!important; }
    .ie { background-position: -136px -833px!important; }
    .ff { background-position: -273px -833px!important; }
    .flash { background-position: -412px -833px!important; }
    .un { background-position: -551px -832px!important; }
    .jv { background-position: -692px -830px!important; }
    .record_table { width: 698px; border-top: 1px solid #5d5c5c; border-radius: 2px; background: #d4dae0; }
    .record_table dt ul li{ float: left; display: block; overflow: hidden; border-bottom: 1px solid #5d5c5c; text-align: center; line-height: 42px; }
    .table_header li.l1, .table_mid li.l1 { width: 135px; }
    .table_header li.l2, .table_mid li.l2 { width: 130px; }
    .table_header li.l3, .table_mid li.l3 { width: 100px; }
    .table_header li.l4, .table_mid li.l4 { width: 90px; }
    .table_header li.l5, .table_mid li.l5 { width: 70px; }
    .table_header li.l6, .table_mid li.l6 { width: 70px; }
    .table_header li.l7, .table_mid li.l7 { width: 102px; }
/*---------

Gift

--------*/
    .server-choose { margin: 20px auto; width: 698px; line-height: 30px; }
    .gift_main { position: relative; font-size: 13px; margin: 0 auto; width: 100%; text-align: center; }
    .gift_list { display: inline-block; padding: 15px; border-radius: 8px; background-color: #f2f2f2; color: #5d5c5c; }
    .show_gift { float: left; display: inline; margin-right: 4px; width: 120px; height: 112px; background: url(../images/gift.png) center top no-repeat; }
    .input-name {margin: 0 10px;padding: 0 5px;color: #616161;font-size: 14px;line-height: 33px;}
    .show_gift em { float: left; display: inline; margin: 90px 0 0 6px; width: 114px; font-weight: 700; font-size: 16px; line-height: 16px; }
    .seb_list { float: left; display: inline; width: 390px; text-align: left; }
    .gift_collect h4, .seb_list dl dt { padding-bottom: 10px; color: #ef8309; font-weight: 400; font-size: 14px; }
    .seb_list { float: left; display: inline; width: 390px; text-align: left; }
    .seb_list dl dd { float: left; padding: 0 0 0 20px; width: 175px; background: url(../images/point.png) center left no-repeat; font-size: 13px; line-height: 10px; }
    .seb_list dl dd { margin-bottom: 20px; }
    .gift_collect { float: right; display: inline; width: 154px; text-align: left; }
    .gift_collect p { padding-bottom: 10px; font-size: 13px; line-height: 20px; }
    .gift_collect a { display: block; margin: 0 auto; width: 154px; height: 34px; font-size: 12px; line-height: 34px; color: #000; }
    .gift_collect a:hover { color: #fff; }
    .gift_btit { margin: 30px auto 0; width: 672px; height: 40px; color: #5d5c5c; font-size: 20px; line-height: 40px; }
    .gift_show { padding-left: 55px; color: #f30; font-size: 14px; }
    .gf_table { display: block; margin: 0 auto 20px; width: 100%; }
    .gf_table .gf_table_top { display: inline-block; margin: 0 auto 5px!important; padding: 0 15px; background-color: #b5babf; color: #FFF; font-size: 12px; }
    .gf_table dd ul li { float: left; display: block; overflow: hidden; width: 133px; text-align: center; line-height: 28px; }
    .gf_table .gf_table_mid { display: block; margin: 0 auto 5px!important; width: 690px; color: #5d5c5c; font-size: 14px; }
    .gf_table_mid ul { display: inline-block; border-bottom: 2px solid #b5babf; border-radius: 4px; padding: 0 10px; }
/*-----------

Report a case

-----------*/
    #upload, .hart, .record_table { display: inline-block; }
    .hart { position: relative; margin-bottom: 20px; width: 348px; }
    .hart .select input[type=text] { width: 312px!important; height: 33px; }
    .select textarea { height: 156px; border-radius: 5px; font-family: inherit; }
    .view_order { position: relative; }
    .view_order dd, .view_order dt { display: block; margin: 0 auto 5px!important; padding: 0 15px; border-radius: 8px; font-size: 14px; line-height: 36px; }
    .view_order dt { background-color: #a4c8e8; color: #4991cf; font-weight: bolder; }
    .view_order ul li { float: left; display: block; height: 36px; box-sizing: border-box; padding: 0 5px; text-overflow: ellipsis; white-space: nowrap; text-align: center; }
    .view_order .list_sub { width: 340px; }
    .view_order .list_stat { width: 120px; }
    .view_order .list_date { width: 150px; }
    .view_order .list_rate { width: 58px; color: #ef8309; text-decoration: underline; }
    .page, .page ul li { text-align: center; margin: 0 auto; }
    .view_order dd,.view_order dd a { background-color: #dee5eb; color: #83888e; }
    .art { position: relative; font-size: 13px; }
    .case_back, .case_rate, .timeline .submit { float: right; display: block; border: 0; cursor: pointer; }
    #case_rate { display: block !important; }/**/
    #view_sub { display: block !important; }/**/
    .timeline .submit{margin-top: 15px;margin-right: 8px;width: 183px;height: 60px;line-height:60px;color:#ffffff;border-radius:4px;-webkit-border-radius:4px;-o-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;}
    .timeline .submit:hover{color:#ffffff}
    .case_back { margin-right: 12px; width: 54px; height: 34px; background: url(../images/back.png) no-repeat; }
    .timeline { margin-bottom: 20px; padding-top: 50px; min-height: 530px; border-left: 1px solid #dfe6ec; }
    .timeline li { margin-top: 10px; }
    .timeline .time { position: relative; top: -5px; left: -6px; display: block; width: 143px; height: 18px; background: url(../images/clock.png) 0 0 no-repeat; line-height: 17px; text-align: center; }
    .timeline .user ul { height: auto; }
    .timeline .user ul li { position: relative; padding-right: 70px; }
    .timeline .user ul li .photo { position: absolute; right: -6px; bottom: -20px; }
    .timeline .user ul li .photo img { width: 65px; }
    .timeline .user ul li .talk { position: relative; float: right; display: inline; padding: 10px; max-width: 360px; border-radius: 10px; background: #282e36; color: #fff; }
    .timeline .user ul li .talk .triangle { position: absolute; right: -8px; bottom: 0; width: 20px; height: 8px; background: url(../images/talk_arrow.png) -7px 0 no-repeat; }
    .timeline .server ul li { position: relative; margin: 15px 0; padding-left: 78px; }
    .timeline .server ul li .photo { position: absolute; bottom: -8px; left: 19px; }
    .timeline .server ul li .photo img { width: 49px; }
    .timeline .server ul li .talk .triangle { position: absolute; bottom: -1px; left: -8px; width: 20px; height: 8px; background: url(../images/talk_arrow.png) -11px 0 no-repeat; }
    .timeline .server ul li .talk { position: relative; float: left; display: inline; padding: 10px; max-width: 360px; border: 1px solid rgba(255,255,255,.05); border-radius: 10px; background-color: #282e36; box-shadow: inset 0 0 16px rgba(0,0,0,.06); color: #fff; word-wrap: break-word; }
    .case_rate { margin-top: 15px; margin-right: 12px; width: 243px; height: 60px; line-height: 60px; color: #fff!important; -ms-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
    .case_rate:hover { color: #fff!important; }
    .timeline .line-copy { display: block !important; color: #282e36; text-align: center; position: relative; font-size: 14px; font-weight: 700; margin-top: 16px; }/**/
    .timeline .line-copy .hr { display: block; content: ""; width: 100%; position: absolute; top: 50%; border-top: 2px solid #282e36; }
    .timeline .line-copy .line-copy-text { position: relative; padding: 0 8px; background-color: #f6f6f6; }
    .select .notice { float: left; margin-left: 10px; color: #cc0041; font-size: 14px; line-height: 31px; }
    #fileupload { display: none; }
    #upload { width: 113px; height: 39px; background: url(https://cdn.rawgit.com/OopsLOL/gogo/master/upload2.png) no-repeat; display: inline-block; }/**/
    #del, #upload_value { position: relative; top: -10px; left: 5px; }
    .select a { color: #5d5c5c; }
    .art-list dd a { position: relative; padding: 0 15px; color: #5d5c5c!important; font-weight: 700; font-size: 14px; line-height: 39px; }
    .art-list dd a:hover { color: #fe9500!important; }
    .scrap { font-size: 14px; line-height: 30px; }
    .timeline textarea { display: block!important; margin-top: 30px; margin-left: 20px; padding: 10px; width: 690px; height: 100px; border: 0; border-radius: 5px; background: #fff; resize: none; float: none; }/**/
    .simplemodal-container, .simplemodal-rate { position: fixed; top: 50%; left: 50%; z-index: 1002; display: none;}
    .simplemodal-rate { margin: -200px 0 0 -280px; width: 560px; height: 400px; }
    .modalCloseImg, .rateCloseImg { position: absolute; top: 15px; right: 15px; z-index: 25; width: 28px; height: 28px; background: url(../images/other_icon.png) no-repeat; }
    .modalCloseImg:hover, .rateCloseImg:hover { background-position: 0px -28px; }
    .simplemodal-wrap { overflow: hidden; box-sizing: border-box; width: 100%; height: 100%; }
    .simplemodal-rate .rate { border-radius: 6px; background-color: #fff; }
    .simplemodal-rate .rate header { position: relative; width: 100%; height: 72px; background-color: #f9efde; border-bottom: 1px solid #ebd1a5; }
    .simplemodal-rate .rate section { padding: 8px 15px; overflow: hidden; }
    .simplemodal-rate .rate header h2 { color: #ef8309; text-align: center; font-weight: 700; font-size: 42px; line-height: 75px; }
    .rate-fieldset li { float: left; margin-bottom: 10px; width: 100%; line-height: 44px; color: #5d5c5c; font-size: 18px; }
    .rate-fieldset li span { float: left; margin-right: 22px;font-weight: 700;}
    .rate-fieldset li textarea { display: block; box-sizing: border-box; padding: 10px; width: 525px; height: 125px; border: 1px solid #000; border-radius: 5px; background: #fff; font-size: 14px; line-height: 18px; resize: none; }
    .rate-confirm { display: block; margin: 0 auto; width: 145px; height: 51px; line-height: 51px; -ms-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
/*------------------------------------

Footer

-----------------------------------*/
    footer { display: none !important; }/**/
    footer .container { display: none !important; }/**/
    /*footer { font-size: 14px; line-height: 18px; position: relative; padding: 10px 0; background: #f6f6f6; }*/
    /*footer .container { width: 660px; padding: 25px 0 20px; margin: 0 auto; background: transparent; }
    footer .container .left { width: 210px; float: left; }
    footer .container .left .f-logo { margin-bottom: 6px; }
    footer .container a { float: left; }
    footer .container .down { font-size: 12px; display: table; text-transform: uppercase; }
    footer .container .down a { display: block; width: 20px; height: 20px; margin: 0 3px; }
    footer .container .down a.fb { background-position: -35px 0; }
    footer .container .down a.tw { background-position: -56px 0; }
    footer .container .down a.ytb { background-position: -78px 0; }
    footer .container .right { float: right; width: auto; }
    footer .container .right span { float: left; line-height: 18px; color: #091620; }
    footer .container .right dl { float: left; line-height: 12px; }
    footer .container .right dl dd { float: left; margin: 8px; color: #ff6101; }
    footer .container .right dl dd a { color: #ff6101; }
    footer .container .right dl dd a:hover { opacity: 0.7; }*/
